.separator{
	position:relative;
	background: url(../images/separator.gif) repeat-x;
	height:1px;
	margin-top:25px;
	margin-bottom:25px;
	clear:both;
}
.alert_config_field{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#FFF;
	position:relative;
	width:40px;
	height:40px;
	border:0px;
	border-radius:6px;
	-moz-border-radius: 6px 6px 6px 6px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0pt 0pt 15px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-20px;
	margin-top:-20px;
}
.alert_config_field .content_alert{	
	overflow:auto;
	margin-left:5px;
	margin-right:5px;
	padding:0px 15px 0px 15px;
	visibility:hidden;
}
.alert_config_field .btnClose_alert{
	position:relative;
	float:right;
	right:2px;
	background:#096;
	width:22px;
	height:22px;
	background:url(../images/close.png) no-repeat;
	cursor:pointer;
	top:2px;
	visibility:hidden;
}
.alert_config_field .description_alert{
	position:absolute;
	float:left;
	left:7px;
	top:6px;
	visibility:visible;
	color:#025A8D;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	visibility:hidden;
}