.blockade{
	position:fixed;
	border: none;
	width:100%;
	height:100%;
	background:#000;
	top:0;
	left:0;
	float:left;
}
.charger_small{
	position:fixed;
	background:#FFF url(../images/loaderBall.gif) center no-repeat;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	border-radius:6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0pt 0pt 15px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
input{
	border:1px solid #CCC !important;
}
.text_field{
	width:180px;
}
.radio{
	position:relative;
	float:left !important;
	font-size:14px;
	margin-right:5px;
}
.text_radio{
	position:relative;
	float:left !important;
	font-size:12px;
	margin-right:10px;
	margin-top:5px;
	font-weight:bold;
	color:#444444;
}
.readonly{
	background:#EEEEEE !important;
	color:#888 !important;
}
.error{
	border:1px solid #F00 !important;
}

#adminForm label{
	display:none !important;
}
/* Init code here */